.navbar-default {
	background: #428BCA;
}

.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited  {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
/* 	background-color: #4E8ED0; */
    color: #dcdcdc;
}

.navbar-header > a:link, .navbar-header > a:visited {
	color: #FFFFFF;
}


#container-cadastro {
  	padding-top: 5%;
	padding-right: 20%;
	padding-left: 20%;
}