body {
	background-color: #eeedec;
}



.header-class h1 {
	margin-left: 40px;
	font-family: cursive;       
	font-size: x-large;
	font-weight: lighter;
	float: left;
}

.header-class input {
	width: 35%;
	margin-right: 40px;
	margin-top: 25px;
	float: right;
}

.header-class button {
 	margin-left: 280px;
	margin-top: 25px;	
}



.section-class textarea {
    resize: none;
	margin-left: 40px;
	width: 93%;
}


.section-class table {
    resize: none;
    margin-top: 30px;
 	margin-left: 40px; 
 	width: 93%;  
	border-style: none;
}



.section-class button {
	text-align: center;
}


#clear-txt-area-btn {
	margin-top: 30px;
	margin-left: 45%;

}




