#header {
   background: #428BCA;
    height:70px;    
}



#header table {
	width: 98%;
	height: 100%;
}


#header td { 
	width: 50%; 
}


#logo-img {
	cursor: pointer;
	padding-left: 50px;	
}


#login-group-div {
	margin-left:auto; 
	margin-right:0;	
}


#form-login {
	padding-right: 60px; 
}


#div-executar {
	padding-top: 30px;
	text-align: right
}

#div-section {
	height: 60%;
}


#section {
	padding-top: 10px;
}


#panel-online, #panel-graficos, #panel-apresentacao-graficos, #panel-relatorios  {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	border: none;
}


#panel-body-online {
	overflow: hidden;
	overflow-x: auto;
	overflow-y: auto;
	height: 600px;
	margin-top: 10px;	
}


#panel-body-relatorios, #panel-body-apresentacao-graficos   {
	overflow: hidden;
	overflow-x: auto;
	overflow-y: auto;
	height: 600px;
	margin-top: 10px;	
}


#panel-body-graficos {
	overflow: hidden;
	overflow-x: auto;
	overflow-y: auto;
	height: 565px;
	margin-top: 10px;	
}





.div-btn-atualizar-salas-online {
	background-color: #F6F4F0;
	padding-left: 43%; 
	padding-top: 10px;
	padding-bottom: 10px;
}


.div-tbl-pesquisa-salas table {
	background-color: #F6F4F0;
	table-layout: fixed; 
 	width: 100% 
	
}


td.pesquisa-salas-nome {
	width: 20%;
	padding-left: 25px;
}

td.pesquisa-salas-data-inicio {
	width: 20%;
}

td.pesquisa-salas-data-fim {
	width: 20%;
}

td.pesquisa-salas-input {
	width: 40%;
  	padding-bottom: 30px; 
}

.div-dropdown-btn-relatorios {
	background-color: #F6F4F0;
}

.div-dropdown-btn-relatorios div {
	background-color: #F6F4F0;
 	padding-left: 75%;  
	padding-top: 10px;
	padding-bottom: 10px;	
}

.btn-group ul {	 
	left: 80%;
}

#panel-body-relatorios table {
	width: 100%;
}



#heading-relatorios table {
	width: 100%;
}


td.relatorios-nome {
	width: 10%;
}


td.relatorios-print-img {
	width: 90%;
}



.div-dropdown-btn-relatorios table {
	width: 100%;
}


td.relat-dropdown-td {
	width: 55%
}

td.relat-imgmail-td {
	width: 10%
}

td.relat-imgfile-td {
	width: 35%
}


.fig-mail-geral-relat img {
	padding-left: 40%;
	cursor: pointer;
}


.fig-arquivo-geral-relat img {
	cursor: pointer;
}


#body-login {
	background: #428BCA;
	
}

#panel-login {
	
	width: 400px;
	margin-top: 12%;
	margin-left: 35%;
 	background: #FFFFFF;
 	box-shadow: 10px 10px 5px #888888;
 	border: 1px solid rgba(0, 0, 0, .5);
	border-radius:25px;   
}


#lbl-login {
	color: #428BCA;
}


#tbl-login {
	width: 100%
}


td.td-image-logo {
	text-align: center;
	padding-top: 2em;
}


td.td-input-usr {
	text-align: center;
	padding-top: 5em;
}


td.td-input-pass {
	text-align: center;
	padding-top: 1em;
}


td.td-btn-sbmt {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}


td.td-lbl-login {
	text-align: center;
	padding-bottom: 5em;
}

#btn-login {
/* 	display: block;  */
/* 	width: 100% */
}
